@using Microsoft.AspNet.Identity
@model ElectionTool.Models.AnswerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>質問一覧</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>質問内容</th>
    </tr>
    @foreach (var q in Model.Questions)
    {
        <tr>
            <td>@q.Item1.Id</td>
            <td>@q.Item1.Text</td>
            <td>@(q.Item2 == null ? "" : q.Item2.Text)</td>
            <td>@Html.ActionLink("回答する", "Entry", new { id = q.Item1.Id })</td>
        </tr>
    }
</table>